<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Anecdote App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <h1 data-position="header">Share your best Anecdotes !</h1>

    <section data-position="add-quote">
      <h4>Add Anecdote</h4>

      <form action="/stories" method="POST">
        <input type="text" placeholder="Author/replace/delete" name="Author" />
        <input type="text" placeholder="Story" name="Story" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="update-quote">
      <div>
        <h4>Try Replace command!</h4>
        <p>
          This command will replace one story by Mohamed, if it exists.
        </p>
        <button id="update-button">Try Replace command!</button>
      </div>
    </section>

    <section data-position="delete-quote">
      <div>
        <h4>Try Delete command!</h4>
        <p>
          This command will delete one story by Mohamed, if present.
        </p>
        <button id="delete-button">Try Delete command!</button>
      </div>
      <div id="message"></div>
    </section>

    <section data-position="quotes">
      <h2>Anecdotes/Stories</h2>

      <ul class="quotes">
        <% for(var i = 0; i <  stories.length; i++) {%>
        <li class="quote">
          
          <span><%= stories[i].Author %></span>:
<div class="subitem">
          <span><%= stories[i].Story %></span>
</div>
        </li>
        <% } %>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>